<%@ Register TagPrefix="SCC" TagName="FileUpload" Src="FileUpload.ascx" %>
<%@ Control Language="vb" AutoEventWireup="false" Codebehind="MultipleFileContainer.ascx.vb" Inherits="PortalNYISO.MultipleFileContainer" %>
<SCC:FileUpload id="FileUpload20" Width="92px" runat="server"></SCC:FileUpload>
<SCC:FileUpload id="FileUpload19" Width="92px" runat="server"></SCC:FileUpload>
<SCC:FileUpload id="FileUpload18" Width="92px" runat="server"></SCC:FileUpload>
<SCC:FileUpload id="FileUpload17" Width="92px" runat="server"></SCC:FileUpload>
<SCC:FileUpload id="FileUpload16" Width="92px" runat="server"></SCC:FileUpload>
<SCC:FileUpload id="FileUpload15" Width="92px" runat="server"></SCC:FileUpload>
<SCC:FileUpload id="FileUpload14" Width="92px" runat="server"></SCC:FileUpload>
<SCC:FileUpload id="FileUpload13" Width="92px" runat="server"></SCC:FileUpload>
<SCC:FileUpload id="FileUpload12" Width="92px" runat="server"></SCC:FileUpload>
<SCC:FileUpload id="FileUpload11" Width="92px" runat="server"></SCC:FileUpload>
<SCC:FileUpload id="FileUpload10" Width="92px" runat="server"></SCC:FileUpload>
<SCC:FileUpload id="FileUpload9" Width="92px" runat="server"></SCC:FileUpload>
<SCC:FileUpload id="FileUpload8" Width="92px" runat="server"></SCC:FileUpload>
<SCC:FileUpload id="FileUpload7" Width="92px" runat="server"></SCC:FileUpload>
<SCC:FileUpload id="FileUpload6" Width="92px" runat="server"></SCC:FileUpload>
<SCC:FileUpload id="FileUpload5" Width="92px" runat="server"></SCC:FileUpload>
<SCC:FileUpload id="FileUpload4" Width="92px" runat="server"></SCC:FileUpload>
<SCC:FileUpload id="FileUpload3" Width="92px" runat="server"></SCC:FileUpload>
<SCC:FileUpload id="FileUpload2" Width="92px" runat="server"></SCC:FileUpload>
<SCC:FileUpload id="FileUpload1" Width="92px" runat="server"></SCC:FileUpload>

