
.Message
{
	font-weight: normal;
	font-size: 12pt;
	font-family: 'Times New Roman';
}

TD
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	border-top-style: none;
	padding-top: 0px;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
}

TR
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
}

TBODY
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
}

BODY
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
}

TABLE
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	border-top-style: none;
	padding-top: 0px;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
}

.Header
{
	font-weight: normal;
	font-size: 16pt;
	font-style: italic;
	font-family: 'Times New Roman';
}

.Processing
{
	font-weight: bold;
	font-size: 16pt;
	font-family: 'Times New Roman';
	visibility: hidden;
}

.Hide
{
	visibility: hidden;
}

.Show
{
	visibility: visible;
	position: absolute;
}

.ErrorHeader
{
	font-weight: bold;
	font-size: 20pt;
	font-family: 'Times New Roman';
}

.ErrorText
{
	font-weight: bold;
	font-size: 14pt;
	color: #990033;
	font-family: Monospace;
}

.StatusTable
{
	border-right: black 1px solid;
	padding-right: 0px;
	border-top: black 1px solid;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	border-left: black 1px solid;
	padding-top: 0px;
	border-bottom: black 1px solid;
}

.StatusHeader
{
	font-weight: bold;
	font-size: 12pt;
	color: white;
	border-bottom: black 1px solid;
	font-family: 'Times New Roman';
	background-color: #000099;
}

.HistoryHeader
{
	font-size: 12pt;
	font-weight: bold;
	color: white;
	border-bottom: black 1px solid;
	font-family: 'Times New Roman';
	background-color: Gray ;
}

IMG
{
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
}
